<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Alisson de Sá Nogueira</strong>
    <ion-img
  src="/assets/foto1.jpg"
  alt="The Wisconsin State Capitol building in Madison, WI at night"
></ion-img>
    <p>Turma: ADS0303N <br>
      PAS23103|BS|N|ADS0303N
    </p>
  </div>
</ion-content>
